.App {
  text-align: center;
}

.nav-bar {
  background-color: #4262A3;
  color: #D7DDEA;
}
.nav-bar-flex {
  display: flex;
}

.navlink {
  color: black;
}

.logo-text {
  margin-top: 10px;
}

.logo {
  margin: 20px;
}

.board-logo {
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;

}

.board-header {
  margin-top: 10px;
  font-size: 20px;
}

.navlink:hover {
  color: gray;
}

.side-col{
  background-color: #E5ECFA;
  text-align: center;
  width: 20%;
  height: 750px
}

.sidebar-links{
  margin-top: 30px;
  background-color: #D7DDEA;
  width: auto;
  font-size: 24px;
  color:grey;
  display: flex;
}